.dashboard {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-image: url('../_images/dashboard_bg.png');
    background-color: #F5F2EA;
    display: flex;
    justify-content: center;
    align-items: center;

    .dashboard__content {
        height: 90%;
        width: 90%;
        background-color: #f7f4f0;
        border-radius: 25px;
        padding: 40px 80px;
        box-sizing: border-box;
    }

    .dashboard__header {
        display: flex;
        justify-content: space-between;

        .dashboard__header-buttons {
            display: flex;
            align-items: center;

            .user-button {
                margin-left: 25px;
            }
        }
    }

    .dashboard__container {
        display: flex;
        padding: 70px 0 70px 0;
        height: 100%;
        box-sizing: border-box;

        .dashboard__aside,
        .dashboard__todos {
            height: 100%;
        }

        .dashboard__main {
            flex-basis: 100%;
            margin: 0 40px 0 40px;

            .dashboard__tasks {
                height: 100%;
                overflow-y: scroll;
                padding: 20px;
                box-sizing: border-box;

                &.dashboard__tasks--done {
                    margin-top: 40px;
                    padding: 0;
                }
            }

            .task-builder {
                width: 100%;
                margin: 0 auto 0px auto;
            }
        }
    }

    .dashboard__title {
        position: relative;
        margin: 0;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        padding-bottom: 15px;

        .dashboard__title-number {
            margin-left: 10px;
            font-weight: normal;
            font-size: 0.95rem;
        }

        >i {
            margin-right: 10px;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 4%;
            right: 4%;
            height: 1px;
            background-color: #e1dfdd;
        }
    }

    .dashboard__footer {
        text-align: center;

        .dashboard__sign-out {
            color: white;
            background-color: red;
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 20px;
        }
    }
}